body {
  height: 100vh;
  overflow: hidden;
  }
/*----------NAVBAR---------*/
.mynav{
  background: url("../images/header_background.jpg");
  position: relative;
  background-position: center ;
  background-size: cover;
  min-height: 100vh;
}
.navbar {
  background-color: transparent !important;
}

.navbar .navbar-brand {
  color: #FFF;
  font-weight: bolder;
  font-size: 1.3em;


}

.navbar .navbar-nav {
  margin: 0 auto;
}

.navbar .nav-item a{
  color: #FFF !important;
}

.dropdown-item:hover{
  background-color: rgba(0,0,0,0.3);
}

/*----------Home---------*/
.name {
  text-align: center;
  color: rgb(245, 245, 245);
  font-size: 100px;
  padding: 0px;
  margin: 0px;
  margin-top: 200px;
  
}

.services {
  text-align: center;
  color: antiquewhite;
  font-size: 30px;
  
}
